<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>专题图查看</title>
    <link href="/Themes/Styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Themes/Styles/map.css" rel="stylesheet" />
    <link href="http://36.7.89.33:8081/arcgis_js_api/library/3.18/dijit/themes/claro/claro.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://36.7.89.33:8081/arcgis_js_api/library/3.18/esri/css/esri.css" />
    <script type="text/javascript" src="http://36.7.89.33:8081/arcgis_js_api/library/3.18/init.js"></script>
    <script type="text/javascript">
        dojo.require("esri.map");
        dojo.require("esri.layers.ArcGISImageServiceLayer");
        dojo.require("esri.dijit.Scalebar");
        var map, dataLayerUrl, imageLayerUrl,baseLayerUrl;
        function init() {
            dataLayerUrl = GetQueryString('key');
            imageLayerUrl = "http://36.7.89.33:6081/arcgis/rest/services/md/ImageServer";
            baseLayerUrl = "http://36.7.89.33:6081/arcgis/rest/services/贵池区行政区划图/MapServer";
            map = new esri.Map("map", { logo: false, nav: false });
            var dataLayer = new esri.layers.ArcGISDynamicMapServiceLayer(dataLayerUrl, { id: "dataLayer" });
            var baseLayer = new esri.layers.ArcGISDynamicMapServiceLayer(baseLayerUrl, { id: "baseLayer" });
            map.addLayer(dataLayer);
            map.addLayer(baseLayer);

            //比例尺
            var scalebar = new esri.dijit.Scalebar({
                map: map,
                scalebarStyle: "line",
                scalebarUnit: "metric"
            }, dojo.byId("scaleBarDiv"));
        }
        dojo.addOnLoad(init);
        function changeMap() {
            if (dojo.byId("map_img").title == "影像图") {
                dojo.byId("map_img").src = "/Themes/Images/map/general.png";
                dojo.byId("map_img").title = "地图";

                var dlayer = map.getLayer("dataLayer");
                map.removeLayer(dlayer);
                var blayer = map.getLayer("baseLayer");
                map.removeLayer(blayer);

                //新增现在的地图服务
                var imageLayer = new esri.layers.ArcGISImageServiceLayer(imageLayerUrl, { id: "dataLayer" });
                map.addLayer(imageLayer);
            } else {
                dojo.byId("map_img").src = "/Themes/Images/map/striograph.png";
                dojo.byId("map_img").title = "影像图";

                var dlayer = map.getLayer("dataLayer");
                map.removeLayer(dlayer);
                
                //新增现在的地图服务
                var dataLayer = new esri.layers.ArcGISDynamicMapServiceLayer(dataLayerUrl, { id: "dataLayer" });
                map.addLayer(dataLayer);
                var baseLayer = new esri.layers.ArcGISDynamicMapServiceLayer(baseLayerUrl, { id: "baseLayer" });
                map.addLayer(baseLayer);
            }
        }
        //返回
        function back() {
            var url = "/Views/Caption/Caption_List.aspx?r=" + Math.random();
            window.location.href = url;
        }
        //获取url参数
        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]); return null;
        }
    </script>
</head>
<body>
    <div class="btnbarcontetn">
        <div style="text-align: right">
            <a title="返回" onclick="back()" class="button green">
                <span class="icon-botton" style="background: url('/Themes/images/16/back.png') no-repeat scroll 0px 4px;"></span>
                返回
            </a>
        </div>
    </div>
    <!--地图-->
    <div id="map"></div>
    <!--比例尺-->
    <div id="scaleBarDiv" style="position: absolute; left: 50px; bottom: 30px;"></div>
    <!--地图与影像图切换-->
    <div id="map_change_div">
        <img id="map_img" src="/Themes/Images/map/striograph.png" title="影像图" style="cursor: pointer;" onclick="changeMap();" />
    </div>
</body>
</html>
