
/* -----------------------
   * tab *
* ----------------------- */
.l-tab-tools{height:28px;z-index:60; 
background:url(../images/layout/tabs-bg.gif) left bottom repeat-x;}
.l-tab-links{background:url(../images/layout/tabs-bg.gif) left bottom repeat-x; /*border-bottom:1px solid #BED5F3;*/}
.l-tab-links-left{ background:url(../images/layout/tabs-tools.gif) 0px 0px; }
.l-tab-links-right{background:url(../images/layout/tabs-tools.gif) -51px 0px;}
.l-tab-links-tools{background:url(../images/layout/tabs-tools.gif) -102px 0px;}
.l-tab-links-left-over{ background-position:-17px 0px;}
.l-tab-links-right-over{ background-position:-68px 0px;}
.l-tab-links-tools-over{ background-position:-119px 0px; }
.l-tab-links-left-invalid{ background-position:-34px 0px;}
.l-tab-links-right-invalid{ background-position:-85px 0px;}


.l-tab-links li{ background:url(../images/layout/tabs-item-bg.gif);  }
.l-tab-links li.l-selected{background:url(../images/layout/tabs-item-over-bg.gif);font-weight:bold}
.l-tab-links-item-left{  background:url(../images/layout/tabs-item-left-bg.gif)}
.l-tab-links-item-right{background:url(../images/layout/tabs-item-right-bg.gif)}

    
/* -----------------------
   * easytab *
* ----------------------- */ 