
html, body, #mapDiv {
    padding: 0;
    margin: 0;
    z-index: -10;
    height: 100%;
}

body {
    font-family: 黑体;
    color: #5A5A5A;
}

.esriSimpleSlider {
    display: none;
}

.map .logo-med {
    display: none;
    background-image: none;
}

.esriPopup .titleButton.maximize {
    display: none;
}

.esriPopup .actionsPane .action {
    visibility: hidden;
}

.header {
    background-color: #1d64bf;
    height: 45px;
    line-height: 45px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 100;
}

    .header .logo {
        padding-left: 20px;
        height: 42px;
        width: 420px;
        float: left;
        background-image: url('../images/map/logo.png');
    }

    .header .exit {
        float: right;
        height: 42px;
        padding-right: 20px;
        color: #fff;
        font-size: 12px;
    }

        .header .exit a {
            color: black;
        }

/*工具栏 start*/
.tool {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: url(../images/map/tools/tool_bg.png) repeat-x;
    position: absolute;
    top: 45px;
    z-index: 100;
}

    .tool ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        .tool ul li {
            float: left;
            width: 28px;
            text-align: center;
        }

    .tool img {
        cursor: pointer;
        vertical-align: middle;
    }
/*工具栏 end*/
/*结果框信息*/
.measure {
    font-size: 14px;
    border: 1px solid #808080;
    vertical-align: middle;
    background-color: #fff;
    display: none;
}

    .measure .result {
        float: left;
        margin: 0 10px 0 10px;
        padding: 0;
    }

    .measure .infoclose {
        float: left;
        text-align: right;
        margin-right: 10px;
    }

.close {
    background-image: url('../images/map/close.png');
    width: 11px;
    height: 11px;
}

    .close:hover {
        background-image: url('../images/map/closeHover.png');
        width: 11px;
        height: 11px;
    }

.funciton_div {
    position: absolute;
    top: 153px;
    left: 200px;
    z-index: 99;
    display: none;
    width: 288px;
    margin: 0px 5px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #1d64bf;
    padding-bottom: 5px;
}

    .funciton_div .function_head {
        width: 100%;
        background: #1d64bf;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
    }

        .funciton_div .function_head table td {
            border: none;
            height: 25px;
            line-height: 25px;
            vertical-align: middle;
        }

    .funciton_div .function_content {
        width: 278px;
        margin: 0px 5px;
        padding-top: 5px;
        min-height: 200px;
        padding-bottom: 5px;
        color: #5A5A5A;
        font-size: 12px;
        background-color: #fff;
        position: relative;
    }

        .funciton_div .function_content a {
            color: #5A5A5A;
        }


.dijitTabContainerBottom-container, .dijitTabContainerTop-container, .dijitTabContainerLeft-container, .dijitTabContainerRight-container {
    border-bottom: solid 1px #D2D2D2;
    border-left: solid 1px #D2D2D2;
    border-right: solid 1px #D2D2D2;
}

.dijitTabContainerTop-tabs {
    border: none;
    border-bottom: solid 1px #D2D2D2;
    background: url(../images/map/tab_head.png) 0px -1px repeat-x;
}

.dijitTabChecked {
    background: url(../images/map/tab_head_select.png) 0px -1px repeat-x;
    border-left: solid 1px #D2D2D2;
    border-right: solid 1px #D2D2D2;
    border-top: solid 1px #D2D2D2;
    text-align: center;
}

.dijitContentPane {
    background: #fff;
}

#navContainer div {
    margin: 5px;
}

#navContainer a {
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: underline;
    font-family: Arial,Helvetica,'',sans-serif;
}

    #navContainer a:hover {
        color: black;
    }

.tc_kj {
    height: auto;
    border: solid 1px #DBF2D5;
    width: 100%;
}

.tc_tex {
    font-size: 14px;
    font-weight: bold;
    color: #346D23;
    line-height: 32px;
    padding-left: 10px;
}

.tc_tex {
    font-size: 14px;
    font-weight: bold;
    color: #346D23;
    line-height: 32px;
    padding-left: 10px;
}

.tc_kj_td {
    background: url('../images/map/tc_td.jpg') repeat-x;
    height: 30px;
    border-bottom: solid 1px #DBF2D5;
}

    .tc_kj_td a {
        color: #000;
        cursor: pointer;
    }

        .tc_kj_td a:hover {
            color: #FF6600;
            text-decoration: underline;
        }

.tc_kj_td_bg {
    font-size: 12px;
    height: 30px;
    border-bottom: solid 1px #dbf2d5;
}

    .tc_kj_td_bg p {
        padding-top: 3px;
    }

    .tc_kj_td_bg input[type=text] {
        width: 50px;
        text-align: center;
    }

.tc_kj_td_bg1 {
    background: #F4FBF2;
    font-weight: bold;
    color: #438D2E;
    width: 70px;
    padding-left: 10px;
    border-bottom: solid 1px #DBF2D5;
}

    .tc_kj_td_bg1 p {
        padding-top: 3px;
        padding-left: 20px;
    }

.tc_kj_td_bg2 {
    font-size: 12px;
    height: 30px;
    border: solid 1px #dbf2d5;
}

    .tc_kj_td_bg2 input[type=text] {
        width: 50px;
        text-align: center;
    }

.footer {
    background-color: #1d4e8c;
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #fff;
}
