* {
    padding: 0;
    margin: 0;
}

body {
    background: #1493D6 url("/Themes/images/Login/bg.png") no-repeat center top;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.box {
    width: 100%;
    height: 280px;
    background: url("/Themes/images/Login/bg_08.png") repeat;
    margin: 0 auto;
    border-width: 0px;
}

.boxLogin {
    width: 620px;
    height: 280px;
    margin: 0 auto;
    background: url("/Themes/images/Login/bg2.png") no-repeat;
    color: #000000;
    position: relative;
}

dl, dd {
    padding: 0;
    margin: 0;
}

.s1, .s2, .s3, .s4, .s5, .s6, .s7 {
    position: absolute;
    font-family: ו;
    font-size: 14px;
    color: #000000;
}

.s1 {
    left: 177px;
    top: 100px;
    width: 50px;
}

.s2 {
    left: 230px;
    top: 91px;
}

.s3 {
    left: 177px;
    top: 140px;
    width: 50px;
}

.s4 {
    left: 230px;
    top: 136px;
}

.s8 {
    position: absolute;
    left: 40%;
    top: 205px;
    cursor: pointer;
}

.txt {
    border: 1px solid #A8A8A8;
    font: Verdana, Geneva, sans-serif,ו;
    padding: 3px 2px 2px 2px;
    height: 15px;
    line-height: 15px;
}

.inputbackground {
    background: #EAFDE9;
}

.errorMsg {
    color: Red;
    padding-left: 5px;
}

.copyright {
    font-size: 12px;
    color: #427dbb;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    line-height: 60px;
}

.sign {
    border: medium none;
    width: 130px;
    height: 40px;
    border-style: none;
    background: none;
    background-image: url("/Themes/images/Login/137.png" );
    cursor: pointer;
}

    .sign:hover {
        background-position: 0 -40px;
    }

.sign_hover {
    background-position: 0 -40px;
}

.load {
    position: absolute;
    z-index: 3000;
    left: 56%;
    top: 218px;
    display: none;
}

.signload {
    border: medium none;
    width: 130px;
    height: 40px;
    border-style: none;
    background: none;
    background-image: url("/Themes/images/Login/login-v2-load.png" );
}
