<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!-- Session过期时间 -->
    <sessionState mode="InProc" timeout="180"/>
    <!--设置网站全局 ASP.NET 页的字符编码格式-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <!--默认错误页设置-->
    <customErrors defaultRedirect="Error/ErrorPage.html" mode="RemoteOnly">
      <!--特殊代码编号的错误从定向文件-->
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false"/>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- 设定网站服务器以指定预设兼容性模式 Lionden -->
        <clear/>
        <add name="X-UA-Compatible" value="IE=EmulateIE8"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <!-- 连接字符串是否加密-->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 连接字符串-->
    <add key="Conn" value="Data Source=orcl;Persist Security Info=True;User ID=farm;Password=farm;Unicode=false;"/>
    <!-- 是否写日志-->
    <add key="LogIsWrite" value="true"/>
    <!-- 系统日志保存路径-->
    <add key="LogFilePath" value="D://InspectionSystem//SysLog"/>
    <!-- 系统名称-->
    <add key="Product" value="Product(2017)"/>
  </appSettings>
</configuration>